*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    min-height: 100%;
    background: rgb(131,58,180);
    background: linear-gradient(27deg, rgba(131,58,180,1) 0%, rgb(255, 52, 52) 0%, rgba(252,176,69,1) 100%);
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

header{
    background-color: #252422;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 1rem 0;

    .logo{
        display: flex;
        align-items: center;
        width: 40%;
        padding: 0 3rem;

        img{
            width: 80px;
            height: 80px;
        }

        h1{
            font-family: "Inter", serif;
            font-size: 35px;
            padding-left: 1rem;
            color: #fffcf2;
        }
    }

    .menu{
        display: flex;
        align-items: center;
        padding-right: 3rem;
        ul{
            display: flex;
            align-items: center;
            list-style: none;
            li{
                font-family: "Inter", serif;
                font-size: 26px;
                font-weight: 800;
                padding: 0 1rem;
                color: #fffcf2;
            }
        }
    }

}

main{
    flex-grow: 1;
}

.container{
    width: 40%;
    margin: auto;
    

    .posts{
        display: flex;
        flex-direction: column;
        margin: 2rem 0;

        .box-post{
            display: flex;
            flex-direction: column;
            margin: 2rem 0;
            padding: 2rem;
            background-color: #fffcf2;
            border-radius: 2rem;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        
        
            img{
                border-radius: 1rem;
            }

            h2{
                font-family: "Inter", serif;
                font-size: 26px;
                text-transform: uppercase;
                padding: 1rem 0;
                color: #252422;
            }

            p{
                font-family: "Inter", serif;
                font-size: 18px;
            }
        }
    }
    
}


footer{
    h3{
        font-family: "Inter", serif;
    }
    margin: auto 0;
    text-align: center;
    padding: 1rem 0;
}